[submodule "stella-app"]
	path = stella-app
	url = https://github.com/stella-project/stella-app
[submodule "app"]
	path = app
	url = https://github.com/stella-project/stella-app.git
[submodule "server"]
	path = server
	url = https://github.com/stella-project/stella-server.git
